<div class="table-top">
  <h2>Survey Detail</h2>
</div>
<div class="view-container">
  <div>
    <h5>Survey Name: </h5>
  </div>
  <div [innerText]="data?.name"></div>
  <hr>
  <div>
    <h5>Start Time: </h5>
  </div>
  <div [innerText]="data?.startTime | date:'yyyy-MM-dd HH:mm:ss'"></div>
  <hr>
  <div>
    <h5>END Time: </h5>
  </div>
  <div [innerText]="data?.endTime | date:'yyyy-MM-dd HH:mm:ss'"></div>
  <hr>
  <div class="collaborators-container" *ngIf="data?.collaborators && data.collaborators.length > 0">
    <h4>Collaborators:</h4>
    <ul class="collaborator-list">
      <li *ngFor="let collaborator of data.collaborators">
        {{ collaborator.email }}
      </li>
    </ul>
  </div>
  <div class="add-collaborator-section">
    <h5>Add Collaborator: </h5>
    <input type="email" [(ngModel)]="collaboratorEmail" placeholder="Enter Email Address">
    <select [(ngModel)]="permissionType">
      <option value="Edit">Edit</option>
      <option value="View">View</option>
    </select>
    <button (click)="addCollaborator()">Add</button>
    <div *ngIf="collaboratorAddedMessage" class="collaborator-added-message" style="color: red;">
      {{ collaboratorAddedMessage }}
    </div>
  </div>
  
  <div>
    <h4>Survey Questions: </h4>
  </div>
  <div *ngFor="let question of data.questionList; let i = index;let last = last">
    <div class="ques-detail-spacing">
      <h5>Q{{i+1}}:</h5>
    </div>
    <div class="ques-detail-spacing">
      <h5>Question Description: </h5>
      <div [innerText]="question?.question"></div>
    </div>
    <div class="ques-detail-spacing">
      <h5>Question Type: </h5>
      <div [innerText]="question?.questionType"></div>
    </div>
    <div *ngIf="question?.questionType === 'SingleSelect'">
      <div *ngFor="let data of question.options;let j = index">
        <div class="ques-detail-spacing">
          <h6>OP{{j+1}}:</h6>
          <div [innerText]="data"></div>
        </div>
      </div>
    </div>
    <hr *ngIf="!last">
  </div>
</div>
