.navbar {
  background-color: #00415f;
  padding: 10px;
  color: white;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease-in-out;
}

/* .navbar-list {
  display: flex;
  justify-content: space-around;
} */

.nav-item a:hover {
  color: #ebe827;
}