.navbar {
  background-color: #026a9a;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 20px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-item a:hover {
  color: #f5f5f5;
}

.logout-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

.logout-link:hover {
  text-decoration: underline;
}
