form {
  margin: auto;
  padding: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-remove-btn {
  background-color: white;
  color: rgb(0, 200, 255);
  padding: 0;
  margin-right: 12px;
}

.table-top{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E7ECF2;
  padding: 4px;
  background-color: #026a9a;
}

.question-container {
  border: 2px solid #E7ECF2;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 12px;
}

.question-heading {
  display: flex;
}

.actions {
  margin-top: 300px;
  display: flex;
  justify-content: space-between;
}

.cancle-btn {
  color: #55687d;
  background-color: #fff;
  border: 2px solid #E7ECF2;
}