<app-navbar></app-navbar>
<div>
  <div class="table-top">
    <h2>Survey Form</h2>
  </div>
  <form (submit)="submitForm()">
    <div class="form-group has-feedback">
      <label for="name">Name:</label>
      <input class="form-control" type="text" id="name" [(ngModel)]="surveyData.name" name="name" required>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group has-feedback">
          <label for="startTime">Start Time:</label>
          <input class="form-control" type="datetime-local" id="startTime" [(ngModel)]="surveyData.startTime" name="startTime" required>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group has-feedback">
          <label for="endTime">End Time:</label>
          <input class="form-control" type="datetime-local" id="endTime" [(ngModel)]="surveyData.endTime" name="endTime" required>
        </div>
      </div>
    </div>
    <div *ngFor="let question of surveyData.questionList; let i = index; let last = last;trackBy: trackByFn" class="question-container">
      <div class="question-heading row">
        <div class="col-md-10">
          <label for="description">Question Number: {{i+1}}</label>
        </div>
        <div class="col-md-1">
          <button *ngIf="i > 0" type="button" class="add-remove-btn" (click)="removeQuestion(i)">Remove</button>
        </div>
        <div class="col-md-1">
          <button *ngIf="last" type="button" class="add-remove-btn" (click)="addQuestion(i)">Add</button>
        </div>
      </div>
      <div class="form-group has-feedback">
        <label for="description">Question Description:</label>
        <input class="form-control" type="text" id="description" [(ngModel)]="question.question" name="description{{i}}" required>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group has-feedback">
            <label for="type">Question Type:</label>
            <select class="form-control" id="type" (change)="setOptionsValue(i)" [(ngModel)]="question.questionType" name="type{{i}}"
              required>
              <option value="Subjective">Subjective</option>
              <option value="SingleSelect">SignleSelect</option>
              <option value="FivePointScale">FivePointScale</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="question.questionType === 'SingleSelect'">
        <div class="col-md-6" *ngFor="let option of question.options; let j = index; let l = last;trackBy: trackByFn">
          <div class="form-group has-feedback">
            <label for="option">Option {{ j + 1 }}:</label>
            <input type="text" class="form-control" id="option" [(ngModel)]="question.options[j]" name="options{{i}}{{j}}" required>
          </div>
          <button *ngIf="j > 0" type="button" class="add-remove-btn" (click)="removeOption(question, j)">Remove Option</button>
          <button *ngIf="l" type="button" class="add-remove-btn" (click)="addOption(question)">Add Option</button>
        </div>
      </div>
      <div *ngIf="question.questionType === 'FivePointScale'">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group has-feedback">
              <div class="five-point-scale">
                <!-- Display numbers and labels in one line -->
                <label class="scale-content" for="point1">1</label>
                <label class="scale-content" for="point2">2</label>
                <label class="scale-content" for="point3">3</label>
                <label class="scale-content" for="point4">4</label>
                <label class="scale-content" for="point5">5</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button type="button" class="btn cancle-btn" (click)="cancel()">Cancel</button>
      <button type="submit">Submit</button>
    </div>
  </form>
</div>
