.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin: 16px;
}

.card-body {
  padding: 16px;
}

.card-title {
  margin-bottom: 8px;
}

.card-text {
  color: #555;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
}

.btn-active {
  background-color: #20b869;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
}

.btn-completed {
  background-color: #ec8b1c;
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  display: inline-block;
}

.table-top{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #E7ECF2;
  padding: 4px;
  background-color: #026a9a;
}

.card-container {
  display: flex;
}